<!-- header -->
<header>
    <div class="wrapper">
      <nav>
        <div>
          <img id="img-logo" alt="logo" src="assets/images/logo.png" >
          <span  class="logo-text fs-2 text-white fw-bold">P T C</span>
        </div>
        <ul id="menu">
          <li><a routerLink="/home">About</a></li>
          <li><a routerLink="/courses">Courses</a></li>
          <li><a routerLink="/programs">Programs</a></li>
          <li><a routerLink="/teachers">Teachers</a></li>
          <li><a routerLink="/admissions">Admissions</a></li>
          <li class="end"><a routerLink="/contacts">Contacts</a></li>
        </ul>
        <ul id="icon">
          <li><a title="icon1" href="#"><img src="assets/images/icon1.jpg" alt=""></a></li>
          <li><a title="icon2" href="#"><img src="assets/images/icon2.jpg" alt=""></a></li>
          <li><a title="icon3" href="#"><img src="assets/images/icon3.jpg" alt=""></a></li>
        </ul>
      </nav>
     
    </div>
    <div class="wrapper">
      <!--  <div id="logo-title"><a routerLink="/home" id="logo"></a>Pathway Training Center</div>-->
      <div id="logo-title" class="px-4">Pathway Training Center</div>
    </div>
    <div id="slogan"> We Will Open The World<span>of knowledge for you!</span> </div>
    <ul class="banners">
      <li><a title="banner1" href="#"><img src="assets/images/banner1.jpg" alt=""></a></li>
      <li><a title="banner2" href="#"><img src="assets/images/banner2.jpg" alt=""></a></li>
      <li><a title="banner3" href="#"><img src="assets/images/banner3.jpg" alt=""></a></li>
    </ul>
  </header>
  <!-- / header -->
