@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


/* Header */
header{
  overflow: hidden;
}
nav,.banners {
  width:100%;
  padding:20px;
}
nav{
  background: linear-gradient(to bottom, rgb(2, 1, 46), rgb(36, 64, 175));
}
.banners{
  background: linear-gradient(to bottom, rgb(36, 64, 175), rgb(22, 232, 232));
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  color:white;
}
.name-head{
  color:orange;
  letter-spacing: 0.2rem;
  line-height: 35px;
}
.earth{
  width:35%;
  height:35%;
}