 <!-- content -->
 <!--   <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">Academic Programs</h2>
            </div>
            <div class="wrapper pad_bot2">
              <figure class="left marg_right1"><img src="assets/images/page3_img1.jpg" alt=""></figure>
              <p class="pad_bot1 pad_top2"><strong>At vero eos et accusamus et iusto odio</strong> <br>
                Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
              <a href="#" class="button marg_left1"><span><span>Read More</span></span></a> </div>
            <div class="wrapper pad_bot2">
              <figure class="left marg_right1"><img src="assets/images/page3_img2.jpg" alt=""></figure>
              <p class="pad_bot1 pad_top2"><strong>At vero eos et accusamus et iusto odio</strong> <br>
                Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
              <a href="#" class="button marg_left1"><span><span>Read More</span></span></a> </div>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="assets/images/page3_img3.jpg" alt=""></figure>
              <p class="pad_bot1 pad_top2"><strong>At vero eos et accusamus et iusto odio</strong> <br>
                Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
              <a href="#" class="button marg_left1"><span><span>Read More</span></span></a> </div>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>New Programs</h2>
            </div>
            <ul class="list1">
              <li><a href="#">International Studies</a></li>
              <li><a href="#">Models &amp; Language Reaching</a></li>
              <li><a href="#">Public School Facts</a></li>
              <li><a href="#">State Testing Data</a></li>
              <li><a href="#">Education Jobs</a></li>
            </ul>
            <div class="pad_left1">
              <h2>Testimonials</h2>
              <p class="quot"> <span><strong><a href="#">William Horner</a></strong></span> <span class="color1">Managing Director</span> <span class="color2 pad_bot1">Company Name</span> Nam libero tempore, cum soluta nobis esteligendi optio cumque nihil impedit quo minusid quod maxime placeat facere possimus, omnis voluptas assumenda estmnis dolor repellendus. </p>
            </div>
            <a href="#" class="button marg_top1"><span><span>&nbsp;&nbsp; View All &nbsp;&nbsp;</span></span></a> </article>
        </div>
      </div>
    </section>-->
<!-- content -->
<!-- Introduction Section -->
<div class="programs-intro">
  <h1>Welcome to Our Programs</h1>
  <p>Explore our wide range of programs designed for all ages. Select an age range to learn more about the programs we offer.</p>
</div>

<!-- Age Group Selection with Radio Buttons -->
<fieldset class="age-group-selection">
  <legend>Select Age Group:</legend>
  <label *ngFor="let ageGroup of programGroups" class="age-group-label">
    <input type="radio" name="ageGroup" [value]="ageGroup" (change)="selectAgeGroup(ageGroup)">
    <span>{{ ageGroup.replace('_', ' ') | titlecase }}</span>
  </label>
</fieldset>


<!-- Program Details Section -->
<div *ngIf="selectedAgeGroup" class="program-details">
  <h3>Programs for {{ selectedAgeGroup.replace('_', ' ') | titlecase }}:</h3>
  <ul>
    <li *ngFor="let program of getProgramGroup()">
      <strong>{{ program.name }}:</strong> {{ program.description }}
      <button type="button" (click)="navigateToRegistration(program)">Register</button>
    </li>
  </ul>
</div>
